
        .menubar{
            background-color: grey;
            border: 1px solid black;
            color: white;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius:15px;
            text-align: center;
        }
        #links{
            background-color: darkslategray;
            display: inline;
            border: 2px solid black;
            padding: 5px;
            margin: 5px;
        }
        #links a{
            font-family: 'Times New Roman', Times, serif;
            color: black;
            font-style: none;
            text-decoration: none;

        }